html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  font-family: "Source Sans Pro", sans-serif;
}

img {
  width: 100%;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

p {
  line-height: 32px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.no-padding {
  padding: 0;
}

.icon-header{
  width: 17px;
  height: 18px;
}

.hello,
.contact,
.search{
  display: flex;
  margin-top: 10px;
}

.block-contact h5{
  color: #605f5f;
  font-family: "Source Sans Pro";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.search{
  position:relative;
  direction: rtl;
  width: 300px;
}

.search input{
  margin:0;
  padding-right: 220px;
  width: 100%;
}

.search i{
   position:absolute;
    bottom:2px;
    right:5px;
    width:24px;
    height:24px;
}

